*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vw;
    width:100vw;
    position: relative;
    display: flex;
    justify-content: center;
}


img{
    height: 100%;
    width: 100%;
}

.clock{
    height: 45%;
    width: 45%;
    position: relative;
}

#sec,#min,#hour{
    position: absolute;
    transform-origin: bottom;
}

#sec{
    height: 34%;
    width: 0.75%;
    background-color: black;
    border-radius: 60%;
    bottom: 49.5%;
    left: 49.7%;
}

#min{
    height: 28%;
    width: 1%;
    background-color: black;
    border-radius: 60%;
    bottom: 50%;
    left: 49.4%;
}

#hour{
    height: 18%;
    width: 2%;
    background-color: black;
    border-radius: 25%;
    bottom: 50%;
    left: 49%;
}

